<mat-toolbar color="primary">
  <button  mat-icon-button class="example-icon" (click)="sidenav.toggle()"
  aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon></button>
  <span>My App</span>
  <span class="example-spacer"></span>
</mat-toolbar>

  <mat-sidenav-container class="sidenav">
    <mat-sidenav #sidenav mode="side">
  <mat-nav-list> 
    <a mat-list-item *ngFor="let menuItem of servicio.menuItems" [routerLink]="menuItem.names" (click)="sidenav.close()">{{ menuItem.name }}
      <mat-icon>{{menuItem.icon}}</mat-icon> </a>
  </mat-nav-list>
</mat-sidenav>
  <mat-sidenav-content><router-outlet></router-outlet></mat-sidenav-content>
  </mat-sidenav-container>
